/* reset.css
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  End reset
 */

* {
  font-family: 'Verdana', Arial, sans-serif;
  font-size: 18px;
}

body {
  background-image: url("../img/parchment.jpg");
}

header {
  border-bottom: 1px solid red;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 28px 0;
  font-family: 'Courgette', cursive;
}

nav h2 {
  border-bottom: 1px solid red;
  text-align: center;
  padding: 18px 0;
  margin: 0px;
}

h2 {
  padding: 18px 0;
  margin: 0;
  font-weight: bold;
}

nav li {
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid red;
}

nav li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  padding: 10px 0;
  line-height: 1.5;
}

.blog img {
  padding: 24px 0 24px 32px;
}

.right-image {
  float: right;
}

img.javascript-code {
  width: 33%;
  height: auto;
}

.date {
  font-weight: bold;
  margin: 10px 0 0 0;
}

.time {
  font-style: italic;
  font-weight: bold;
  margin: 2px 0 2px 0;
}

.signature {
  font-family: Courgette, cursive;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
}

.sub-heading {
  font-weight: bold;
  margin: 0 0 2px 0;
  font-size: 28px;
  font-family: 'Courgette', cursive;
}

.blog {
  padding: 0px 40px 10px 40px;
  border-left: 1px solid red;
}

.blog ul {
  margin-top: 16px;
  margin-bottom: 18px;
}

.blog li {
  margin-top: 18px;
  margin-bottom: 18px;
}

.blog ul, .blog li {
  list-style: disc inside;
  line-height: 1.8;
}

footer {
    border-top: 1px solid red;
    padding: 28px 20px;
    font-size: 24px;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }

  h1 {
    font-size: 48px;
  }
      
  nav {
    flex: 1;
  }

  img.javascript-code {
    width: 640px;
    height: auto;
  }

  .blog {
    flex: 5;
    border-left: 1px solid red;
  }

  .blog ul, .blog li {
    list-style: outside;
  }

  .blog li {
    margin-left: 5%;
    margin-right: 5%;
  }
}
  
  /* Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {}
  
  /* Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {} */