body {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-size: 28px;
  font-weight: bold;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  line-height: 64px;
}

h2, h3 {
  font-family: "Racing Sans One", monospace;
  line-height: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.main-content {
  padding: 0 10%;
}

p {
    line-height: 32px;
}